
@forward "./base/index";
@use "./util/variable" as var;



header{
    background-color: var.$header_bg;
    padding: 1rem;
}

main{
    background-color: var.$main_bg;
    padding: 1rem;

    P{
        background-color: var.$main_p_bg;
    }
}